<!DOCTYPE html>
<html>
  <%include component/head%>
  <body>
    
    <!-- 導覽列 -->
    <div><%include component/header%></div>
    <!-- 內容 -->
    <div class="flex-1 ">
      <div class="my-container">
        <div>
          <%include component/catalog-nav%>
        </div>
      </div>
    </div>
    <!-- footer -->
    <div><%include component/footer%></div>
  </body>
</html>
