<!DOCTYPE html>
<html>
  <%include component/head%>
  <body>
    
    <!-- 導覽列 -->
    <div><%include component/header%></div>
    <!-- 內容 -->
    <div class="flex-1 ">
      <div class="my-container">
        <div class="flex flex-wrap relative">
          <div class="hidden lg:block lg:w-3/12 p-8 pb-8 ">
            <div class="sticky top-20">
              <%include component/catalog-nav%>
             
            </div>
          </div>
          <div class="w-full lg:w-9/12 p-4">
            <div class="flex text-nav-text font-medium text-lg mb-3">
              <h2>第幾分類</h2>
              <h2>/ 品牌</h2>
            </div>
            <div class="flex flex-wrap mx-0 lg:mx-[-12px]">
              <div class="w-full lg:w-1/3 px-3 mb-3">
                <div class="bg-white border shadow-sm rounded-xl">
                  <%include component/card%>
                </div>
              </div>
              <div class="w-full lg:w-1/3 px-3 mb-3">
                <div class="bg-white border shadow-sm rounded-xl">
                  <%include component/card%>
                </div>
              </div>
              <div class="w-full lg:w-1/3 px-3 mb-3">
                <div class="bg-white border shadow-sm rounded-xl">
                  <%include component/card%>
                </div>
              </div>
              <div class="w-full lg:w-1/3 px-3 mb-3">
                <div class="bg-white border shadow-sm rounded-xl">
                  <%include component/card%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <div><%include component/footer%></div>
  </body>
</html>
