<!DOCTYPE html>
<html>
  <%include component/head%>
  <body>
    <!-- 導覽列 -->
    <div><%include component/header%></div>
    <!-- 內容 -->
    <div class="flex-1">
      <%include component/swiper%>
      <!-- <%include component/marquee%> -->
      <%include component/hot%> <%include component/product%>
    </div>
    <!-- footer -->
    <div><%include component/footer%></div>
  </body>
</html>

<!-- 
<%include component/hot%> 
      <% var productList = [ { category: '竿子', items: [
      { Name: '竿子一號', price: '2000', }, { Name: '竿子二號', price: '2500', },
      ] }, { category: '食物', items: [ { Name:
      '食物一號', price: '1000' }, { Name: '食物二號', price: '2990' }, { Name:
      '食物三號', price: '2750' } ] } ]; %> 
      <% for (let i = 0; i < productList.length; i++) { %> 
        <%include component/product%> 
      <% } %> -->
