<!DOCTYPE html>
<html>
  <%include component/head%>
  <body class=" overflow-hidden">
    <!-- 遮罩 -->
    <%include component/cover%>
    <%include component/rwd-list%>
    <%include component/cart%>
    <!-- 導覽列 -->
    <div><%include component/header%></div>
    <!-- 內容 -->
    <div class="flex-1">
      <%include component/swiper%>
    </div>
    <!-- footer -->
    <div><%include component/footer%></div>
  </body>
</html>
