<div class="cart-list cart-list-leave flex flex-col h-full">
    <div class=" text-lg text-hover-text font-normal text-center py-4 border-b border-nav-border ">購物清單</div>
    <ul class=" border-b border-nav-border overflow-auto ">
        <li class="flex">
           <div class="pic w-3/12">
                <img class="object-cover w-full" src="https://picsum.photos/1920/700?random=22" alt="">
           </div>
           <div class=" flex-1 ">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cumque facilis tempore harum facere aperiam? Qui eligendi, minima sint reprehenderit maxime, cumque laudantium fugiat beatae nisi, repellat necessitatibus assumenda accusamus.</p>
           </div> 
        </li>
        <li class="flex">
           <div class="pic w-3/12">
                <img class="object-cover w-full" src="https://picsum.photos/1920/700?random=22" alt="">
           </div>
           <div class=" flex-1 ">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cumque facilis tempore harum facere aperiam? Qui eligendi, minima sint reprehenderit maxime, cumque laudantium fugiat beatae nisi, repellat necessitatibus assumenda accusamus.</p>
           </div> 
        </li>
        <li class="flex">
           <div class="pic w-3/12">
                <img class="object-cover w-full" src="https://picsum.photos/1920/700?random=22" alt="">
           </div>
           <div class=" flex-1 ">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cumque facilis tempore harum facere aperiam? Qui eligendi, minima sint reprehenderit maxime, cumque laudantium fugiat beatae nisi, repellat necessitatibus assumenda accusamus.</p>
           </div> 
        </li>
        <li class="flex">
           <div class="pic w-3/12">
                <img class="object-cover w-full" src="https://picsum.photos/1920/700?random=22" alt="">
           </div>
           <div class=" flex-1 ">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cumque facilis tempore harum facere aperiam? Qui eligendi, minima sint reprehenderit maxime, cumque laudantium fugiat beatae nisi, repellat necessitatibus assumenda accusamus.</p>
           </div> 
        </li>
        <li class="flex">
           <div class="pic w-3/12">
                <img class="object-cover w-full" src="https://picsum.photos/1920/700?random=22" alt="">
           </div>
           <div class=" flex-1 ">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cumque facilis tempore harum facere aperiam? Qui eligendi, minima sint reprehenderit maxime, cumque laudantium fugiat beatae nisi, repellat necessitatibus assumenda accusamus.</p>
           </div> 
        </li>
        <li class="flex">
           <div class="pic w-3/12">
                <img class="object-cover w-full" src="https://picsum.photos/1920/700?random=22" alt="">
           </div>
           <div class=" flex-1 ">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cumque facilis tempore harum facere aperiam? Qui eligendi, minima sint reprehenderit maxime, cumque laudantium fugiat beatae nisi, repellat necessitatibus assumenda accusamus.</p>
           </div> 
        </li>
    </ul>

    <div>
        尾巴
    </div>

</div>
  