<div class="cart-list cart-list-leave flex flex-col h-full">
    <div class=" text-lg text-hover-text font-normal text-center py-4 border-b border-nav-border ">購物清單</div>
    <ul class="overflow-auto">
        <li class="flex items-center border-b border-nav-border p-3">
           <div class="pic px-3 flex-1 flex justify-center">
                <img width="80px" height="80px" class="object-contain" src="/images/photo1683637440 (7).jpeg" alt="">
           </div>
           <div class=" w-7/12 text-sm ">
                <p class="text-nav-text">【蜜桃口味】糖果CANDY通用煙彈 適配RELX和SP2 透明菸彈 (4枚入) - 蜜桃口味</p>
                <div class="text-sm  mt-3 flex justify-between">
                     <span>NT $5,000</span>
                     <span>數量 2</span>
                </div>
           </div>
           <div class=" w-2/12 text-center">
               <i class="fa-solid fa-trash-can p-2 cursor-pointer" style="color: #df2a33;"></i>
           </div> 
        </li>
        <li class="flex items-center border-b border-nav-border p-3">
           <div class="pic px-3 flex-1 flex justify-center">
                <img width="80px" height="80px" class="object-contain" src="/images/photo1683637440 (7).jpeg" alt="">
           </div>
           <div class=" w-7/12 text-sm ">
                <p class="text-nav-text">【蜜桃口味】糖果CANDY通用煙彈 適配RELX和SP2 透明菸彈 (4枚入) - 蜜桃口味</p>
                <div class="text-sm  mt-3 flex justify-between">
                     <span>NT $5,000</span>
                     <span>數量 2</span>
                </div>
           </div>
           <div class=" w-2/12 text-center">
               <i class="fa-solid fa-trash-can p-2 cursor-pointer" style="color: #df2a33;"></i>
           </div> 
        </li>
        <li class="flex items-center border-b border-nav-border p-3">
           <div class="pic px-3 flex-1 flex justify-center">
                <img width="80px" height="80px" class="object-contain" src="/images/photo1683637440 (7).jpeg" alt="">
           </div>
           <div class=" w-7/12 text-sm ">
                <p class="text-nav-text">【蜜桃口味】糖果CANDY通用煙彈 適配RELX和SP2 透明菸彈 (4枚入) - 蜜桃口味</p>
                <div class="text-sm  mt-3 flex justify-between">
                     <span>NT $5,000</span>
                     <span>數量 2</span>
                </div>
           </div>
           <div class=" w-2/12 text-center">
               <i class="fa-solid fa-trash-can p-2 cursor-pointer" style="color: #df2a33;"></i>
           </div> 
        </li>
        <li class="flex items-center border-b border-nav-border p-3">
           <div class="pic px-3 flex-1 flex justify-center">
                <img width="80px" height="80px" class="object-contain" src="/images/photo1683637440 (7).jpeg" alt="">
           </div>
           <div class=" w-7/12 text-sm ">
                <p class="text-nav-text">【蜜桃口味】糖果CANDY通用煙彈 適配RELX和SP2 透明菸彈 (4枚入) - 蜜桃口味</p>
                <div class="text-sm  mt-3 flex justify-between">
                     <span>NT $5,000</span>
                     <span>數量 2</span>
                </div>
           </div>
           <div class=" w-2/12 text-center">
               <i class="fa-solid fa-trash-can p-2 cursor-pointer" style="color: #df2a33;"></i>
           </div> 
        </li>
        <li class="flex items-center border-b border-nav-border p-3">
           <div class="pic px-3 flex-1 flex justify-center">
                <img width="80px" height="80px" class="object-contain" src="/images/photo1683637440 (7).jpeg" alt="">
           </div>
           <div class=" w-7/12 text-sm ">
                <p class="text-nav-text">【蜜桃口味】糖果CANDY通用煙彈 適配RELX和SP2 透明菸彈 (4枚入) - 蜜桃口味</p>
                <div class="text-sm  mt-3 flex justify-between">
                     <span>NT $5,000</span>
                     <span>數量 2</span>
                </div>
           </div>
           <div class=" w-2/12 text-center">
               <i class="fa-solid fa-trash-can p-2 cursor-pointer" style="color: #df2a33;"></i>
           </div> 
        </li>
    </ul>

    <div class="flex justify-end pt-5 pr-5">
         <span class="">小計： 200,000</span>
    </div>
    <div class=" flex justify-center my-5">
          <button class=" bg-black text-white py-2 px-8 rounded">
          前往結賬
          </button>
    </div>

</div>
  