<div class="bg-white rounded-md flex justify-center">
    <ul class="font-normal text-nav-text py-5">
        <li class="catalog-fist-li">
            <div class="flex items-center">
                <span class="mr-4">第一分類</span>
                <div class="catalog-i">
                    <i class="fa-solid fa-angle-down text-nav-text cursor-pointer"></i>
                </div>
            </div>
            <ul class="flex flex-col items-center overflow-hidden rwd-ul-toggle-leave">
                <li class="catalog-li cursor-pointer">
                    品牌1
                </li>
                <li class="catalog-li cursor-pointer">
                    品牌2
                </li>
            </ul>
        </li>
        <li class="catalog-fist-li">
            <div class="flex items-center">
                <span class="mr-4">第二分類</span>
                <div class="catalog-i">
                    <i class="fa-solid fa-angle-down text-nav-text cursor-pointer"></i>
                </div>
            </div>
            <ul class="flex flex-col items-center overflow-hidden rwd-ul-toggle-leave">
                <li class="catalog-li cursor-pointer">
                    品牌1
                </li>
                <li class="catalog-li cursor-pointer">
                    品牌2
                </li>
            </ul>
        </li>
        <li class="catalog-fist-li">
            <div class="flex items-center">
                <span class="mr-4">第三分類</span>
                <div class="catalog-i cursor-pointer">
                    <i class="fa-solid fa-angle-down text-nav-text"></i>
                </div>
            </div>
            <ul class="flex flex-col items-center overflow-hidden rwd-ul-toggle-leave">
                <li class="catalog-li cursor-pointer">
                    品牌1
                </li>
                <li class="catalog-li cursor-pointer">
                    品牌2
                </li>
            </ul>
        </li>
    </ul>    
</div>