<header class="my-header w-full">
  <div class="my-container flex items-center justify-between h-16">
    <div class="wrap flex items-center">
      <div class=" lg:hidden pr-8 cursor-pointer" onclick="coverToggle()">
        <i class="fa-solid fa-bars fa-lg my-nav-icon"></i>
      </div>
      <div class="logo max-w-[90px]">
        <a href="#">
          <img
            class="max-w-full h-auto align-bottom"
            src="/images/logo.svg"
            width="90"
            height="32"
          />
        </a>
      </div>
      <nav class="hidden lg:block pl-12 flex-1">
        <ul class="flex items-center">
          <% for (let i = 0; i < 3; i++) { %>
            <% include nav-list %>
          <% } %>
        </ul>
      </nav>
    </div>
    <div class="flex items-center">
      <div class="pr-11">
        <i class="fa-regular fa-user fa-lg my-nav-icon"></i>
      </div>
      <div>
        <i class="fa-solid fa-cart-plus fa-lg my-nav-icon"></i>
      </div>
    </div>
  </div>
</header>
