<div class="fixed right-0 bottom-0 px-3 pb-3 z-10" >
        <a class=" relative z-30 " href="https://lin.ee/WrZue1" target="_blank">
            <i class="line-icon fa-brands fa-line text-5xl bg-white rounded-xl" style="color: #00b900"></i>
        </a>
</div>
