<div class="marquee">
    <div class="marquee-content">
        Your scrolling text goes here.
    </div>
</div>
  


<style>
.marquee {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30px;
}

.marquee-content {
  position: absolute;
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

</style>