<li class="group inline-block relative">
  <button
    class="my-nav py-2 px-4 rounded items-center"
  >
    <span class="mr-1 group-hover:text-hover-text">主機</span>
    <i class="fa-solid fa-angle-down fa-sm text-nav-text"></i>
  </button>
  <div class=" my-nav absolute max-h-0 pt-5 my-contnet group-hover:my-nav-enter">
    <ul class="py-2">
      <li class="my-nav-li">
        <a
          class="block px-5 rounded"
          href="#"
          >賣到嚇嚇叫一號</a
        >
      </li>
      <li class="my-nav-li">
        <a
          class="block px-5"
          href="#"
          >賣到嚇嚇叫二號</a
        >
      </li>
      <li class="my-nav-li">
        <a
          class="block px-5"
          href="#"
          >某三</a
        >
      </li>
    </ul>
  </div>
</li>
