<li class="group inline-block relative">
  <button
    class="my-nav py-2 px-4 rounded flex items-center"
  >
    <span class="mr-1">主機</span>
    <i class="fa-solid fa-angle-down fa-sm" style="color: #999;"></i>
  </button>
  <ul class="absolute hidden rounded pt-2 group-hover:block">
    <li class="">
      <a
        class=" py-2 px-4 block "
        href="#"
        >One</a
      >
    </li>
    <li class="">
      <a
        class=" py-2 px-4 block "
        href="#"
        >Two</a
      >
    </li>
    <li class="">
      <a
        class=" py-2 px-4 block "
        href="#"
        >Three is the magic number</a
      >
    </li>
  </ul>
</li>
