<div class="goTop fixed right-0 bottom-16 px-5 pb-3 z-[21] cursor-pointer hidden" >
    <div class=" w-12 h-12 flex justify-center items-center rounded-md border border-nav-border bg-nav-border ">
        <i class="fa-solid fa-arrow-up" style="color: #0000004b;"></i>
    </div>
</div>
