@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .my-nav-enter{
        max-height: 1000px;
        transition: max-height 2s ease;
    }
    .cart-list-leave{
        right: -5000px;
        transition: right 0.5s;
    }
    .cart-list{
        transition: right 0.5s;
    }
    .content {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* 顯示的行數 */
        -webkit-box-orient: vertical;
        white-space: nowrap;
    }

    
  }


html, body{
    @apply font-sans
}

body {
    @apply relative bg-nav-bg pt-16 min-h-screen
     flex flex-col justify-between
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none; 
}


.my-header{
    @apply fixed top-0 left-0 border-b border-nav-border bg-white drop-shadow-sm z-10
}

.my-container{
    max-width:1200px;
    margin:auto;
    @apply px-5
}
.my-nav{
    @apply font-normal text-nav-text overflow-hidden
}

.my-nav-li{
    @apply bg-white border-nav-border border-l border-r py-2 text-center font-normal 
    first:rounded-t first:border-t
    last:rounded-b last:border-b
    hover:bg-nav-bg hover:text-hover-text
}

.my-contnet{
    width:max-content;
}

.my-nav-icon{
    @apply text-nav-text hover:text-hover-text cursor-pointer
}
.cover{
    @apply fixed top-0 left-0 right-0 bottom-0 bg-black opacity-60 w-full h-full z-20
}


.rwd-list{
    @apply absolute top-0 left-0 right-0 bottom-0 w-3/4 bg-white z-20
    border-r border-nav-border drop-shadow-lg
}

.rwd-ul-toggle-enter{
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}
.rwd-ul-toggle-leave{
    max-height: 0px;
    transition: max-height 0.2s ease-out;
}
.rwd-list-leave{
    transform: translateX(-1000px);
}
.rwd-list{
    transition: all 0.5s;
}


.rwd-list-li {
  @apply py-2 pl-7 border-nav-border hover:bg-nav-bg hover:text-hover-text;
}

.rwd-list-li:first-child {
  border-top-color: transparent;
}

.rwd-list-li:not(:first-child) {
  border-top-width: 1px;
}

.cart-list{
    @apply fixed top-0 w-3/4 sm:w-96 bg-white z-30
    border-r border-nav-border drop-shadow-lg h-full
}
.cart-list-enter{
    right: 0;
}

.catalog-fist-li{
  @apply last:mb-0 mb-5
}

.catalog-li{
    @apply first:pt-3 pb-3
}

.arrow-turn{
    @apply rotate-90
}
.detail-li{
    @apply relative p-2 border border-nav-border rounded-lg mr-3 my-3 hover:text-hover-text hover:border-hover-text cursor-pointer 
}
.detail-li-none{
    @apply relative p-2 border border-nav-border rounded-lg mr-3 my-3 cursor-not-allowed select-none
}